/Data/data/M3D_Cap/
/Data/data/M3D-VQA/
/Data/data/M3D_Cap_npy/
/Data/data/test_data/
/LaMed/pretrained_model/
/LaMed/output/
/Data/data/M3D_Seg
/Data/data/M3D-Seg
/Data/data/M3D_Seg_npy

# 忽略编译文件
__pycache__/